@import "_custom_radio";

.form-group:not(.checkboxes){
    .btn{
        height: 52px;
    }

 .form-control {
    width: 100%;
    &.flex-grow-1{
        width: auto;
        flex-grow: 1;

    }
     }
    

input.form-control,textarea.form-control {
    background: #f5f5f5;
    border: 0;
    border-bottom: 1px solid  rgba(0,0,0,.30);
    border-radius: 0;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    padding: 20px 16px 6px;    
    height: 52px;
    color: transparent;
    transition: all .3s;
    
    &:hover,&:active,&:focus{
        border-bottom: 2px solid #{$blue};
        background:#e4e1e1;
        color: #000;
    }
}
textarea.form-control{
    height: auto;
}


.input-cont{
    label {
        transition: all .3s; 
        position: absolute;
        left: 20px;
        top: 19px;
    }
    &:hover,&.focused{
        label {
        font-size: 14px;
        top: 3px;
       
        }
    }

}

    


.input-cont {
    width: 100%;  }

   

    
}



/*-------------------------------------------------------------------------------------------------------*/

