
p{
    color: $fontcolor;
    font-size: 15px;
}

.container{
    transition: max-width .3s;
    .full_container &{
        max-width: 100%;
    }

}


.main_body {
    margin-top: $nav_height;
    min-height: calc(100vh - #{$nav_height});
    background-color: $main_body_background;
    padding:#{$grid-gutter-width/2} ;
    transition:  margin-left .3s;
    .no-menu &{
        margin-left: $nav_side_none;
       }
       
       .only_icons &{
       margin-left: $nav_side_icons;
       }
       
       .full_menu &{
       margin-left: $nav_side_full;
       }

}

.text_con {
    border: 1px solid #{$border_color};
    border-bottom: 2px solid #{$border_color};
    background-color: #fff;
    border-radius: 4px;
    padding:  20px;
    margin:#{$grid-gutter-width/2} 0px;
    &.main_cat {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    p,a{
        padding: 0;
        margin: 0;
    }
    .listrow {
        border-bottom: 1px solid #{$border_color};
        padding: 12px 0;
        position: relative;
        img.bg_icon {
            right: 0;
            position: absolute;
            top: 20px;
        }
        &:last-of-type {
            padding-bottom:  0;
            border-bottom: 0;
          }
          &:first-of-type {
            img.bg_icon {
               top: 0px;
            }
            padding-top:  0;
          }
    }

    a.icon {
    
        margin-left: auto;
        img{
            width: 30px;
        }
    }
}

p.num {
    font-size: 25px;
    color: #2F80ED;
}