$nav_height: 50px;
$border_color:#dedede;
$nav_side_full:200px;

nav.nav_top{
    height: $nav_height;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #{$border_color};
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    background-color: #ffffff;
    z-index: 1;
    
    img.logo {
        height: 100%;
    }
}

nav.side{
    width: 0;
    background-color: #ffffff;
    overflow: hidden;
    position: fixed;
    top:$nav_height;
    bottom: 0;
    height: 100%;
    left: 0;
    border-right: 1px solid #{$border_color};
    transition: width .3s;
    .no-menu &{
        width: $nav_side_none;
       }
       
       .only_icons &{
        width: $nav_side_icons;
       }
       
       .full_menu &{
        width: $nav_side_full;
       }
    ul{
        padding: 0;
        li {
            border-bottom: 1px solid #{$border_color};;
            padding: 5px;
            min-width: 200px;
        }
    }
    img {
        width: 38px;
    }

    span.text {
        font-weight: bold;
        margin-left: 5px;
        color: $fontcolor;
    }


}