$nav_height: 50px;
$border_color:#dedede;
$nav_side_full:200px;

@mixin navstyle($width){
    ul{
        padding: 0;
        list-style: none;
     li {
        width: $width;
        border-bottom: 1px solid #dedede;
        position: relative;
    a {
        display: flex;
        align-items: center;
    }
        }
    span.nav_icon {
        display: inline-block;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 28px;
        }
    }
     span.text {
        font-weight: bold;
        margin-left: 5px;
        color: #616060;
    }
    }
    }

#toggle {
    position: absolute;
    left: 20px;
    width: 30px;
    height: 30px;
    display: block;
    padding-top: 0;
  }
  #toggle div {
    width: 100%;
    height: 3px;
    background: #000;  
    margin: 5.5px auto;
    transition: all 0.3s;
    backface-visibility: hidden;
  }
  .menu_open{
  #toggle .one {
    transform: rotate(45deg) translate(5px, 5px);
  }
  #toggle .two {
    opacity: 0;
  }
  #toggle .three {
    transform: rotate(-45deg) translate(7px, -8px);
  }
}



nav.nav_top{
    height: $nav_height;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0,0,0,.12);
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    background-color: #ffffff;
    z-index: 1;
    
    img.logo {
        height: 100%;
    }
}

nav.side{
    width: 0;
    background-color: #ffffff;
    overflow: hidden;
    position: fixed;
    top:$nav_height;
    bottom: 0;
    height: 100%;
    left: 0;

    box-shadow:  -2px 0px 3px 0px rgba(0, 0, 0, 0.2) inset;


    transition: width .3s;
    .no-menu &{
        width: $nav_side_none;
       }
       
       .only_icons &{
        width: $nav_side_icons;
       }
       
       .full_menu &{
        width: $nav_side_full;
       }
       @include navstyle($nav_side_full);
   


}

nav.nav-modal {
    .ul_par {
        display: flex;
        flex-direction: row;
    }
    position: fixed;
    top: $nav_height;
    left: 0;
    right: 0;
    bottom: 0;
  
    height: 100%;
    background-color: rgba(0,0,0,0.0);
    transition: background-color .4s;
    z-index: 3;
    width:0;
    .menu_open &{
        background-color: rgba(0,0,0,0.5);
        width: 100%;
        

    }
    
.side_cont {
    $side_width: 300px;
    width: $side_width;
    background-color: #ffffff;
    height: 100%;
   transform: translatex(-#{$side_width});
   transition: .5s all .4s;
    .menu_open & {
        transform: translatex(0px);
    }
    @include navstyle($side_width);
    ul{
        width: 0;
        transition: width .3s;
        z-index:1; 
          li.first_sub {
            background-color: #004280;
            span.text {               
                color: #fff;
               
            }
            .nav_icon{
                img{
                    filter: contrast(100);
                }

            }
          
        } 
       &.sub_cat{ 
        z-index: 2;        
           overflow: hidden;
           width: 0;
           background-color: #fff;
           &.active{       
        
            width:$side_width;

           }
        }
        
      

    }
    i.fas {
        position: absolute;
        right: 20px;
        top: 12px;
        font-size: 25px;
        cursor: pointer;
        z-index: 1;
    }
  
     
}
img.top_img {
    width: 100%;
}


}

.icon-par {
    display: flex;
    position: absolute;
    right: 20px;
}
.nav-icon {
    cursor:pointer;
    width: 44px;
    height: 44px;
    margin-left: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
    position: relative;
    i.fa.fa-mars-double {
        position: relative;
        z-index: 1;
    }
   
}

.bg-effect{
    position: absolute;
    background-color: #F3F3F4;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    right: 0;
    bottom:0;
    transform: scale(0);
    transition: all .3s;
    .nav-icon:hover &{
        transform: scale(1);
     }

}


