



@mixin navstyle($width,$color,$filter_val){
    ul{
        padding: 0;
        list-style: none;
     li {
        width: $width;
        border-bottom: 1px solid rgba(0,0,0,0.2);
        position: relative;
        align-items: center;
        display: flex;
    a {
        display: flex;
        align-items: center;
    }
        }
    span.nav_icon {
        display: inline-block;
        width: $nav_side_icons;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-filter: brightness($filter_val);
        &.no {
            width: 15px ;
        }
        filter: brightness($filter_val);
        img {
            height:25px;
        }
    }
     span.text {
      
        margin-left: 5px;
        color: $color;
    }
    }
    }




nav.nav_top{
    height: $nav_height;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0,0,0,.12);
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    background-color: #ffffff;
    z-index: 1;
    
   
}
.logo_cont{
    $Mwidth:80px;
    width: $Mwidth;
    height: 60px;
    position: relative;
    img.logo {
        $width:60px;
        $width_normal:50px;
        position: absolute;
        top:#{($Mwidth - $width)/2};
        left:#{($Mwidth - $width)/2};
        height: $width;
        width:  $width;
        transition: all .3s;
        .logo_small &{
        height: $width_normal;
        width:   $width_normal;
        top:#{(60 - $width_normal)/2};
        left:#{($Mwidth - $width_normal)/2};


        }
    }
    .logo_bg {
        position: absolute;
        top:60px;
        left: 0px;
        height: 20px;
        width: $Mwidth;
        position: absolute;
        transition: opacity .7s;
        overflow: hidden;
        .logo_bg_in {
            width: 100%;
            height: 100%;
            position: relative;
        }
        .bg_w {
            width: 80px;
            height: 80px;
            background-color: #fff;
            border-radius: 50%;
            position: absolute;
            bottom: 3px;
            box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, 0.2);
        }
        .logo_small &{
            opacity: 0;

        }
    }
}


nav.side{
    width: 0;
    background-color: #00254c;
    overflow: hidden;
    position: fixed;
    top:$nav_height;
    bottom: 0;
    height: 100%;
    left: 0;

    box-shadow:  -2px 0px 3px 0px rgba(0, 0, 0, 0.2) inset;


    transition: width .3s;
    .no-menu &{
        width: $nav_side_none;
       }
       
       .only_icons &{
        width: $nav_side_icons;
       }
       
       .full_menu &{
        width: $nav_side_full;
       }
       @include navstyle($nav_side_full,#fff,1.8);
   


}




nav.nav-modal {   
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;  
    height: 100%;
    z-index: 3;
    width:0;
    transition-delay: 1s;
    transition-duration:0s;
    transition-property:width;
    overflow: hidden;

    .bgdark{background-color: rgba(0, 0, 0, 0);
            transition: background-color .3s;
    width: 100%;
     height: 100%;
     position: absolute;
     left: 0;
     right: 0;
     top:0;
     bottom: 0;
}
    .menu_open &{        
        width: 100%;
        transition-delay: 0s;
        transition-duration:0s;
        transition-property:width;
        .bgdark{background-color: rgba(0, 0, 0, 0.7);}
          
        
    }
    .close_nav {
        height: #{$nav_height + 1};
        border-bottom: 1px solid;
        display: flex;
        align-items: center;
    }
    .ul_par {
        display: flex;
        flex-direction: row;
    }
    
.side_cont {
    $side_width: 300px;
    width: $side_width;
    background-color: #ffffff;
    height: 100%;
   transform: translatex(-#{$side_width});
   transition: .5s all .4s;
   box-shadow: 2px 0 4px 0 rgba(0, 0, 0, .3);

    .menu_open & {
        transform: translatex(0px);
    }
    @include navstyle($side_width,#000,1);
    ul{
        width: 0;
        transition: width .3s;
        z-index:1; 
          li.first_sub {
            i.fas {
                color:#fff;
        
            }
            background-color: #004280;
            span.text {               
                color: #fff;
               
            }
            .nav_icon{
                img{
                    filter: saturate(11);
                }

            }
          
        } 
       &.sub_cat{ 
        z-index: 2;        
           overflow: hidden;
           width: 0;
           background-color: #fff;
           &.active{       
        
            width:$side_width;

           }
        }
        
      

    }
 
   
  
     
}
img.top_img {
    width: 100%;
}


}

.icon-par {
    display: flex;
    position: absolute;
    right: 20px;
    &.ip1{
        left: 20px;
        right: auto;

    }
}
.nav-icon {
    cursor:pointer;
    width: 44px;
    height: 44px;
    margin-left: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
    position: relative;
    i {
        position: relative;
        z-index: 1;
    }
   
}

.bg-effect{
    position: absolute;
    background-color:  rgba(0,0,0,0.1);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    right: 0;
    bottom:0;
    transform: scale(0);
    transition: all .3s;
    .nav-icon:hover &{
        transform: scale(1);
     }

}

/*---------------------------------------------<popup>------------------*/
.popover_html_cont {
    display: none;
}
.popover-body{
    padding: 12px 20px;
  
.dropdown-menu {
    position: relative;
    box-shadow:none;
   
     float: none;
    min-width: 10rem;
    padding:0;
    margin: 0;    
    border: 0;
   
}
}
.user{
    text-align: center;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 1.5rem;
        margin-bottom: 0.5rem;
 
    .h3{
        color: $body-color;
    }
    p{
        margin-bottom: 0;
    }
    border-bottom: 1px solid #{$border_color};;

}
.avatar{
    margin-bottom: 15px;
img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    object-position: center center;
    border-radius: 50%;
}    
}
/*---------------------------------------------</popup>------------------*/
