

$padding-r-l:15px;
$row-height:60px;

table {
  .btn{
    font-size: 10px;
  }
  border-spacing: 1;
  border-collapse: collapse;
  background: #fff;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}

table thead tr {
  height: $row-height;
  background: #2e435e;
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td,
table th {
  text-align: left;
}
table td.l,
table th.l {
  text-align: right;
}
table td.c,
table th.c {
  text-align: center;
}
table td.r,
table th.r {
  text-align: center;
}
.table100{
    width:100%;
    border-radius: 4px;
    overflow: hidden;
}
.table100-head th {
  
  
  color: #fff;
  
  font-weight: unset;
 
}
tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}
tbody tr {
  
  
  color: gray;
  
  font-weight: unset;
}
tbody tr:hover {
  color: #555;
  background-color: #f5f5f5;
  cursor: pointer;
}

span.small-t {
  display: block;
  font-size: 11px;
}
.column1 {
  padding-left: $padding-r-l;
  padding-right: 40px;
  font-size:14px;
 
 
  &:last-of-type{
    text-align: right;
  
    @media screen and (max-width:$lg){
        text-align: left;
        padding-right: 0px;

    }

  }
}
.column2 {
  width: #{(160/1057)*100%} ;
}
.column3 {
  width: #{(245/1057)*100%} ;
}
.column4 {
  width: #{(110/1057)*100%} ;
  text-align: right;
}
.column5 {
  width: #{(170/1057)*100%};
  text-align: right;
}
.column6 {
  width: #{(222/1057)*100%};
  text-align: right;
  padding-right: 62px;
}
table tbody tr td span.cat {
    display: none;
}

@media screen and (max-width: $lg) {
  table {
    display: block;
  }
  table > *,
  table tr,
  table td,
  table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 37px 0;
  }
  table tbody tr td {
  
    margin-bottom: 24px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td span.cat {
    
    display: inline-block;
    color: #000;
    font-weight: bold;
    
    
 
  }
  table tbody tr td:before {
    display: block;
  }
  .column4,
  .column5,
  .column6 {
    text-align: left;
  }
  .column4,
  .column5,
  .column6,
  .column1,
  .column2,
  .column3 {
    width: 100%;
  }
  tbody tr {
    
  }
}
@media (max-width: $sm) {
  .container-table100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.pagination-custom{  
  font-weight: bold;
padding:0 $padding-r-l;
height: $row-height;
display: flex;
align-items: center;
.pag-el{
  padding-left:$padding-r-l; 
  &:first-of-type{
    margin-left: auto;
  }
  &.next-p{
    i.fas{
      font-size: 25px;
     
      &:first-of-type{
        padding-right:#{$padding-r-l/2};

      }
      &:last-of-type{
        padding-left:#{$padding-r-l/2};
    }
  }

}
}
.btn {  
  box-shadow:none
}
}
span.result_text {
  margin: 0px 5px;
}




.filter-form{
  padding: $inner-padding;
} 

.inline_box {
  position: absolute;
  right: 16px;
  top: 16px;
}


.filter_box {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}


.row_filter {
  display: inline;
  img{opacity: 0.6;
    transition: opacity .3s;
    cursor: pointer;
    &:hover{
      opacity: 1;
    }
  }

  img:last-child{
    display: none;
    
  }
  &.checked_f{
    img{opacity: 1}
    img:first-child{
      display: none;
    }
    img:last-child{
      display: inline;

  }
}
}


.filter{
  img{
    width: 10px;
  }
  margin-bottom:   $inner-padding;



}


.filter2{
  img{
    width: 15px;
    margin-right: 10px;
    filter: brightness(10);
    .open &{
      filter: brightness(0);
    }
  }
  margin-top:#{$grid-gutter-width/2};
  overflow: hidden;
  display: inline-block;
  font-weight: 400;
  color: #343a40;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0.375rem  #{$inner-padding};
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  position: relative !important;
  color: #fff;
    background-color: #407dbf;
    border-color: #407dbf;
    transition: all .3s;
    &:hover {
   
      text-decoration: none;
      box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }
   + .text_con{
    margin-top: 0px;
    position: relative;
    z-index: 1;
    border-top-left-radius: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
    transition-timing-function: ease-in-out;
    .open &{
      max-height: 200vh;
      
     
    }
  }
  .open &{
    color:#343a40;
    background-color: #ffffff;
    box-shadow: none;
    border: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }

}

span.td-icons {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  i{padding:0 2px;}
}