

$padding-r-l:40px;
$row-height:60px;

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: #fff;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td,
table th {
  padding-left: 8px;
}
table thead tr {
  height: $row-height;
  background: #2e435e;
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td,
table th {
  text-align: left;
}
table td.l,
table th.l {
  text-align: right;
}
table td.c,
table th.c {
  text-align: center;
}
table td.r,
table th.r {
  text-align: center;
}
.table100{
    width:100%;
    border-radius: 4px;
    overflow: hidden;
}
.table100-head th {
  
  
  color: #fff;
  
  font-weight: unset;
 
}
tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}
tbody tr {
  
  
  color: gray;
  
  font-weight: unset;
}
tbody tr:hover {
  color: #555;
  background-color: #f5f5f5;
  cursor: pointer;
}
.column1 {
 
  padding-left: $padding-r-l;
  &:last-of-type{
    text-align: right;
    padding-right: $padding-r-l;
    @media screen and (max-width:$lg){
        text-align: left;
        padding-right: 0px;

    }

  }
}
.column2 {
  width: #{(160/1057)*100%} ;
}
.column3 {
  width: #{(245/1057)*100%} ;
}
.column4 {
  width: #{(110/1057)*100%} ;
  text-align: right;
}
.column5 {
  width: #{(170/1057)*100%};
  text-align: right;
}
.column6 {
  width: #{(222/1057)*100%};
  text-align: right;
  padding-right: 62px;
}
table tbody tr td span.cat {
    display: none;
}

@media screen and (max-width: $lg) {
  table {
    display: block;
  }
  table > *,
  table tr,
  table td,
  table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 37px 0;
  }
  table tbody tr td {
  
    margin-bottom: 24px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td span.cat {
    
    display: inline-block;
    color: #000;
    font-weight: bold;
    
    
 
  }
  table tbody tr td:before {
    display: block;
  }
  .column4,
  .column5,
  .column6 {
    text-align: left;
  }
  .column4,
  .column5,
  .column6,
  .column1,
  .column2,
  .column3 {
    width: 100%;
  }
  tbody tr {
    
  }
}
@media (max-width: $sm) {
  .container-table100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.pagination-custom{  
  font-weight: bold;
padding:0 $padding-r-l;
height: $row-height;
display: flex;
align-items: center;
.pag-el{
  padding-left:$padding-r-l; 
  &:first-of-type{
    margin-left: auto;
  }
  &.next-p{
    i.fas{
      font-size: 25px;
     
      &:first-of-type{
        padding-right:#{$padding-r-l/2};

      }
      &:last-of-type{
        padding-left:#{$padding-r-l/2};
    }
  }

}
}
.btn {  
  box-shadow:none
}
}
span.result_text {
  margin: 0px 5px;
}


.filter{
  img{
    width: 10px;
  }
  margin-bottom:   $inner-padding;



}

.filter-form{
  padding: $inner-padding;
} 
