$grid-gutter-width:30px;
$lg: 992px;

$body-color:#e2e2e2;;
$blue:    lighten(desaturate(#007bff,$amount),$lighten) !default;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;




$nav_height: 46px;
$nav_side_full:200px;
$nav_side_none:0;
$nav_side_icons:60px;





//colors

$border_color:#dedede;
$main_body_background: #F3F3F4;
$fontcolor: #616060;
$main_bg_color:#e2e2e2;



//font
h3, .h3 {
    font-size: 18px;
}
h2, .h2 {
    font-size: 25px;
}
h4, .h4 {
    font-size: 16px;
}